tmp/Lead_Scraper-2.json
{
  "name": "Lead Scraper",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Lead Hunt Machine",
        "formDescription": "Fill out the form to scrape leads.",
        "formFields": {
          "values": [
            {
              "fieldName": "Job Title",
              "fieldLabel": "Job Title",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "founder"
                  },
                  {
                    "option": "owner"
                  },
                  {
                    "option": "director"
                  },
                  {
                    "option": "partner"
                  },
                  {
                    "option": "vp"
                  },
                  {
                    "option": "head"
                  },
                  {
                    "option": "manager"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "Company Size",
              "fieldLabel": "Company Size",
              "fieldType": "checkbox",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1-10"
                  },
                  {
                    "option": "11-20"
                  },
                  {
                    "option": "21-50"
                  },
                  {
                    "option": "51-100"
                  },
                  {
                    "option": "101-200"
                  },
                  {
                    "option": "201-500"
                  },
                  {
                    "option": "501-1000"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldName": "Keywords",
              "fieldLabel": "Keywords",
              "placeholder": "e.g. IT services, real estate, marketing agency"
            },
            {
              "fieldName": "Location",
              "fieldLabel": "Location",
              "placeholder": "e.g. United States"
            },
            {
              "fieldName": "Number of Leads",
              "fieldLabel": "Number of Leads",
              "fieldType": "number",
              "placeholder": "10",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        1168,
        -784
      ],
      "id": "ef8a17b6-a5d3-4b96-915f-cf686a6d83ef",
      "name": "On form submission",
      "webhookId": "2fdb30c9-710a-48b4-93e3-0052337c0b5a"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Instruction\nAnalyze the User Input provided below, extract the relevant criteria, and generate the JSON output.\n\nKeywords: {{ $json.Keywords }}\nCountry or City: {{ $json.Location }}\nSeniority Level: {{ $json['Job Title'] }}\nCompany Size: {{ $json['Company Size'] }}\nNumber of Leads: {{ $json['Number of Leads'] }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Role\nYou are an expert Data Transformation Agent for a B2B Lead Generation. Your goal is to interpret user requirements from a form submission and structure them into a precise JSON object compatible with the Apify \"Leads Finder\" actor.\n\n# Input\nYou will receive a set of user inputs describing their target leads (e.g., industries, job titles, locations, company size). These inputs may be unstructured text or comma-separated lists.\n\n# Industry and Keywords\n\nYou have to identify industry from the user keyword input based on Allowed industries\n\nand use these two variable and add Industry under \"company_industry\" and add keyword under \"company_keywords\"\n\n\n# Number of Lead\n\nAdd User input number of leads under \"fetch_count\"\n\n\n# Output Format Example\nStructure your response exactly like this:\n\n{\n    \"company_industry\": [\n        \"machinery\"\n    ],\n    \"company_keywords\": [\n        \"Machinery Manufacture\"\n    ],\n    \"contact_job_title\": [\n        \"CEO\",\n        \"Founder\",\n        \"Co-Founder\",\n        \"Owner\"\n    ],\n    \"contact_location\": [\n        \"united states\"\n    ],\n    \"email_status\": [\n        \"validated\"\n    ],\n    \"fetch_count\": 10,\n    \"seniority_level\": [\n        \"founder\",\n        \"owner\",\n        \"c_suite\"\n    ],\n    \"size\": [\n        \"1-10\",\n        \"11-20\",\n        \"21-50\",\n        \"51-100\",\n        \"101-200\",\n        \"201-500\",\n        \"501-1000\"\n    ]\n}\n\nAllowed industries:\n\n\"information technology & services\", \"construction\", \"marketing & advertising\", \"real estate\", \"health, wellness & fitness\", \"management consulting\", \"computer software\", \"internet\", \"retail\", \"financial services\", \"consumer services\", \"hospital & health care\", \"automotive\", \"restaurants\", \"education management\", \"food & beverages\", \"design\", \"hospitality\", \"accounting\", \"events services\", \"nonprofit organization management\", \"entertainment\", \"electrical/electronic manufacturing\", \"leisure, travel & tourism\", \"professional training & coaching\", \"transportation/trucking/railroad\", \"law practice\", \"apparel & fashion\", \"architecture & planning\", \"mechanical or industrial engineering\", \"insurance\", \"telecommunications\", \"human resources\", \"staffing & recruiting\", \"sports\", \"legal services\", \"oil & energy\", \"media production\", \"machinery\", \"wholesale\", \"consumer goods\", \"music\", \"photography\", \"medical practice\", \"cosmetics\", \"environmental services\", \"graphic design\", \"business supplies & equipment\", \"renewables & environment\", \"facilities services\", \"publishing\", \"food production\", \"arts & crafts\", \"building materials\", \"civil engineering\", \"religious institutions\", \"public relations & communications\", \"higher education\", \"printing\", \"furniture\", \"mining & metals\", \"logistics & supply chain\", \"research\", \"pharmaceuticals\", \"individual & family services\", \"medical devices\", \"civic & social organization\", \"e-learning\", \"security & investigations\", \"chemicals\", \"government administration\", \"online media\", \"investment management\", \"farming\", \"writing & editing\", \"textiles\", \"mental health care\", \"primary/secondary education\", \"broadcast media\", \"biotechnology\", \"information services\", \"international trade & development\", \"motion pictures & film\", \"consumer electronics\", \"banking\", \"import & export\", \"industrial automation\", \"recreational facilities & services\", \"performing arts\", \"utilities\", \"sporting goods\", \"fine art\", \"airlines/aviation\", \"computer & network security\", \"maritime\", \"luxury goods & jewelry\", \"veterinary\", \"venture capital & private equity\", \"wine & spirits\", \"plastics\", \"aviation & aerospace\", \"commercial real estate\", \"computer games\", \"packaging & containers\", \"executive office\", \"computer hardware\", \"computer networking\", \"market research\", \"outsourcing/offshoring\", \"program development\", \"translation & localization\", \"philanthropy\", \"public safety\", \"alternative medicine\", \"museums & institutions\", \"warehousing\", \"defense & space\", \"newspapers\", \"paper & forest products\", \"law enforcement\", \"investment banking\", \"government relations\", \"fund-raising\", \"think tanks\", \"glass, ceramics & concrete\", \"capital markets\", \"semiconductors\", \"animation\", \"political organization\", \"package/freight delivery\", \"wireless\", \"international affairs\", \"public policy\", \"libraries\", \"gambling & casinos\", \"railroad manufacture\", \"ranching\", \"military\", \"fishery\", \"supermarkets\", \"dairy\", \"tobacco\", \"shipbuilding\", \"judiciary\", \"alternative dispute resolution\", \"nanotechnology\", \"agriculture\", \"legislative office\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1552,
        -784
      ],
      "id": "65180b69-2620-47ff-971f-767bcdfbbd70",
      "name": "Lead Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        720,
        -48
      ],
      "id": "bbd04b00-8f06-43bf-8e02-b44175859f72",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "7f8fc959-a06a-40c5-99c9-3ec8dda13f9c",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        -48
      ],
      "id": "832be80f-82c5-4d7f-81a8-2159eeb2a525",
      "name": "Has Email?"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bGujk2kyD8qB1-2CfLVlth8p1uxtB7m6D_a3Pl4XYyk",
          "mode": "list",
          "cachedResultName": "n8n Lead Scraper ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bGujk2kyD8qB1-2CfLVlth8p1uxtB7m6D_a3Pl4XYyk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bGujk2kyD8qB1-2CfLVlth8p1uxtB7m6D_a3Pl4XYyk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Industry": "={{ $('Loop Over Items').item.json.industry }}",
            "Company": "={{ $('Loop Over Items').item.json.company_name }}",
            "Website": "={{ $('Loop Over Items').item.json.company_website }}",
            "Address": "={{ $('Loop Over Items').item.json.company_full_address }}",
            "Founded": "={{ $('Loop Over Items').item.json.company_founded_year }}",
            "Size": "={{ $('Loop Over Items').item.json.company_size }}",
            "Location": "={{ $('Loop Over Items').item.json.company_state }} ({{ $('Loop Over Items').item.json.company_city }}), {{ $('Loop Over Items').item.json.company_country }}",
            "LinkedIn": "={{ $('Loop Over Items').item.json.linkedin }}",
            "Phone": "={{ $('Loop Over Items').item.json.mobile_number }}",
            "Email": "={{ $('Email Valid?').item.json.email }}",
            "Seniority Levels": "={{ $('Loop Over Items').item.json.seniority_level }}",
            "Job Title": "={{ $('Loop Over Items').item.json.job_title }}",
            "Email Status": "={{ $('Email Valid?').item.json.status }}",
            "First Name": "={{ $('Loop Over Items').item.json.first_name }}",
            "Last Name": "={{ $('Loop Over Items').item.json.last_name }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Company",
              "displayName": "Company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Job Title",
              "displayName": "Job Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Seniority Levels",
              "displayName": "Seniority Levels",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email Status",
              "displayName": "Email Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Location",
              "displayName": "Location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Size",
              "displayName": "Size",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Founded",
              "displayName": "Founded",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        -176
      ],
      "id": "bbcfe465-7c9c-4059-ba11-cdd413c6d5a0",
      "name": "Store Leads",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "QShoh6ft5sflq86m",
          "name": "Sheet - Leadhunt.ai"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"company_industry\": [\n        \"machinery\"\n    ],\n    \"company_keywords\": [\n        \"Machinery Manufacture\"\n    ],\n    \"contact_job_title\": [\n        \"CEO\",\n        \"Founder\",\n        \"Co-Founder\",\n        \"Owner\"\n    ],\n    \"contact_location\": [\n        \"united states\"\n    ],\n    \"email_status\": [\n        \"validated\"\n    ],\n    \"fetch_count\": 10,\n    \"seniority_level\": [\n        \"founder\",\n        \"owner\",\n        \"c_suite\"\n    ],\n    \"size\": [\n        \"1-10\",\n        \"11-20\",\n        \"21-50\",\n        \"51-100\",\n        \"101-200\",\n        \"201-500\",\n        \"501-1000\"\n    ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1696,
        -608
      ],
      "id": "924a70bb-c6e4-48c7-8803-928907e17ef9",
      "name": "Structured Output"
    },
    {
      "parameters": {
        "model": "openai/gpt-5-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1552,
        -608
      ],
      "id": "f11300b9-6948-4a1b-b992-7f061ca01d76",
      "name": "GPT 5 Nano",
      "credentials": {
        "openRouterApi": {
          "id": "8UuvaDtC901lLtg3",
          "name": "OpenRouter - Leon Leadhunt"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "ad1365f8-58fe-459e-b5c2-1666fcdb4cb1",
              "leftValue": "={{ $json.company_website }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        160
      ],
      "id": "5050f5d8-f98a-41ab-91f9-b8d103ead5bf",
      "name": "Has Website?"
    },
    {
      "parameters": {
        "url": "=https://emailverifier.reoon.com/api/v1/verify?email={{ $json.email }}&key=yUcWQ6sse42ylHGtHxUIwd5S82pInj3M&mode=power",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1200,
        -288
      ],
      "id": "1f887432-bee8-4d37-9783-c8544176885c",
      "name": "Verify Email"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a57a42c7-5908-4f2a-9c2d-c99709d3c4ff",
              "leftValue": "={{ $json.is_safe_to_send }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1200,
        -432
      ],
      "id": "803695cd-4bac-4acd-8bc7-379b14150eab",
      "name": "Email Valid?"
    },
    {
      "parameters": {
        "operation": "Run actor and get dataset",
        "actorId": {
          "__rl": true,
          "value": "IoSHqwTR9YGhzccez",
          "mode": "list",
          "cachedResultName": "✨Leads Finder - $1.5/1k leads with Emails [Apollo Alternative] (code_crafter/leads-finder)",
          "cachedResultUrl": "https://console.apify.com/actors/IoSHqwTR9YGhzccez/input"
        },
        "customBody": "={{ $json.output }}"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        2016,
        -656
      ],
      "id": "ac33972e-c2c7-456c-88e7-cccf7692ce32",
      "name": "Scrape Leads",
      "credentials": {
        "apifyApi": {
          "id": "bVfwraERB2O6E8uL",
          "name": "Apify account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Lead Generation",
        "height": 384,
        "width": 1488,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        -864
      ],
      "id": "e497ff71-8254-4cd8-a1f8-50dd33a34726",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Lead Validation",
        "height": 832,
        "width": 672,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        672,
        -480
      ],
      "id": "20369bee-2558-44ae-948e-93fd47ed8ea9",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Update Database",
        "height": 832,
        "width": 816,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1344,
        -480
      ],
      "id": "632fe003-9581-40d0-92a6-cf8e21ca74a0",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.company_name }}",
        "options": {
          "historySize": 10000
        }
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        720,
        -176
      ],
      "id": "8951929a-5256-46be-88ff-b674a9058d51",
      "name": "Remove Duplicates"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Lead Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Agent": {
      "main": [
        [
          {
            "node": "Scrape Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Has Website?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email?": {
      "main": [
        [
          {
            "node": "Verify Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Leads": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output": {
      "ai_outputParser": [
        [
          {
            "node": "Lead Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GPT 5 Nano": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Has Website?": {
      "main": [
        [
          {
            "node": "Has Email?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Email": {
      "main": [
        [
          {
            "node": "Email Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Valid?": {
      "main": [
        [
          {
            "node": "Store Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape Leads": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "695799bd-d99b-4b35-b704-1241a2dcd09a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a46f7ee91c7445011764ca3279fc075f041143cc25ce79fef4ae67f314a2617f"
  },
  "id": "gwmy9wHdw1Zfc2lKpGko4",
  "tags": []
}